#cv-form{
    /* display: none; */
}

.my-img{
    border-radius: 50%;
    width: 200px;
}

.backgroundleft{
    background-color: aquamarine;
    
}

.background{
background-color: aquamarine;
}